{% extends 'base.html' %}
{% block content %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/boredStyle.css">

    
        <style>
            div.gallery {
            margin: 146px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
            }

            div.gallery:hover {
            border: 1px solid #777;
            }

            div.gallery img {
            width: 100%;
            height: auto;
            }

            div.desc {
            padding: 15px;
            text-align: center;
            }
        </style>
        
            
    

        <h1 class="bigText" style="margin-top: 25px;"><u>Bored Already?!</u></h1>
        <h2 class="headerText" style="text-align: center; font-size: 35px; margin-top: 50px;"> Some other sites you could go to instead, or you can stay here... (preferably)</h2>


        <div class="gallery">
        <a target="_blank" href="https://www.youtube.com/">
            <img src="static/video.jpg" alt="video player" width="600" height="400">
        </a>
        <div class="desc">Go to a certain video playing site</div>
        </div>

        <div class="gallery">
        <a target="_blank" href="https://open.spotify.com/">
            <img src="static/music.jpg" alt="music player" width="600" height="400">
        </a>
        <div class="desc">Go to this particular site to listen to music</div>
        </div>

        <div class="gallery">
        <a target="_blank" href="https://google.com/">
            <img src="static/googelle.jpg" alt="search" width="600" height="400">
        </a>
        <div class="desc">Go to this particular search engine</div>
        </div>
        </div>

{% endblock %}