{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="static/contactStyle.css">
    <h1 class="bigText"><u>Contact Me!</u></h1>
    <h2 class="headerText" style="text-align: center; font-size: 35px;"> Email: jbalt4zar@gmail.com</h2>
    <p class="headerText" style="text-align: center; font-size: 25px;"> <br> Please only use this email to inquire about this site or to reach out for any additional info on this project, thank you.</p>
    <img src="static/good-cat.jpg" height="240" class="center">
    
{% endblock %}
